.margin {
	margin: 0 2px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 20px; }

.cursor { cursor: pointer }
.font20 {font-size: 20px }

.leftset1 {margin-left: 10px};